<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button  (click)="addItem()">إضافةمنتججديد</button>
<div  style="display: flex"><div  style="width: 30%;"><div  *ngFor="let item of items; let i = index"  (click)="selectItem(i)"><p>{{{{ item.name }}}}</p>
<img  [src]="item.image"  width="100" /></div>
</div>
<div  style="margin-left: 20px;"  *ngIf="selectedItem !== null"><h3>{{{{ items[selectedItem!].name }}}}</h3>
<img  [src]="items[selectedItem!].image"  width="150" /><p>{{{{ items[selectedItem!].details }}}}</p>
<button  (click)="editItem()">تعديل</button>
<button  (click)="deleteItem()">حذف</button>
</div>
</div>
</body>
</html>